{erl_opts, [debug_info]}.

{deps, [
    { bbmustache, "1.9.0" },
    { noisy_tools, {git, "https://github.com/ngqlaw/tools.git", {tag, "1.2.0"}} }
]}.

{dist_node, [
    {setcookie, 'gen_data'},
    {name, 'gen_data@127.0.0.1'}
]}.

{escript_main_app, gen_data}. % specify which app is the escript app
{escript_name, "gen_data"}. % name of final generated escript
